html,
body,
#root {
  height: 100%;
}

body {

  background: lightgrey;
}

body {
  font-family: 'Marmelad', sans-serif;
  font-size: 20px;
  color: lightslategray;
}

h1 {
  font-size: 40px;
  letter-spacing: 1.1px;
  margin-bottom: 2px;
}

#root {
  margin: auto;
}

.App {
  text-align: center;
}

*:focus {
  outline: none;
}